.about .partners .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: var(--section-padding) 0;
}

.partners-logos img {
  width: 100px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.partners-logos img.visible {
  opacity: 1;
  transform: translateY(0);
}

.about {
  padding-bottom: var(--section-padding);
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.about-content {
  max-width: 500px;
  text-align: center;
  margin-bottom: 2rem;
}

.about-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about-content h3 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.about-content p {
  font-size: 1.4rem;
}

.values {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
}

.value-box {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--boxes-colors);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;
  transition: 0.5s;
}

.value-box:hover {
  transform: scale(1.05);
}

.value-box h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--main-color);
}

.value-box p {
  margin: 1rem 0 0;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .about .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .about-content,
  .value-box {
    text-align: start;
  }

  .values {
    grid-template-columns: repeat(2, 1fr);
  }
}
