.contact {
  padding: 0 0 var(--section-padding);
}

.contact-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}

.contact-form,
.contact-info {
  background-color: var(--boxes-colors);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
  border-radius: 10px;
}

.contact-form h2,
.contact-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contact-form .sub-title,
.contact-info .sub-title {
  margin-bottom: 2rem;
}

.contact-form p,
.contact-info p {
  font-size: 1.5rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  background-color: var(--main-bg);
  border: 1px solid #30363d;
  padding: 1.1rem;
  border-radius: 5px;
  color: var(--light-color);
}

.contact-form textarea {
  min-height: 120px;
  resize: vertical;
  resize: none;
}

.contact-form button {
  background-color: var(--main-color);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--hover-color);
}

.info-item {
  display: flex;
  align-items: center;
  background-color: var(--main-bg);
  border: 1px solid #30363d;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  gap: 1rem;
}

.info-item h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.info-text {
  color: var(--white-color);
}

@media (min-width: 768px) {
  .contact-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
