:root {
  --main-bg: #f9fafb;
  --main-color: #0b7cb8;
  --hover-color: #095a87;
  --secondary-color: #1d4ed8;
  --light-color: #1f2937;
  --dark-color: #fff;
  --text-color: #fff;
  --boxes-colors: #fff;
  --section-padding-scroll: 80px;
  --section-padding: 10rem;
}

/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--section-padding-scroll);
  font-size: 62.5%;
}

*:focus-visible {
  outline: transparent;
  box-shadow: 0 0 0 0.2rem rgba(11, 123, 183, 0.699) !important;
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  background-color: #cfcdcd;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 1000px;
  height: 30rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}

a {
  text-decoration: none;
  color: var(--light-color);
}

p {
  line-height: 1.7;
}

/* Base styles for the body */
body {
  background-color: var(--main-bg);
  color: var(--light-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Poppins", sans-serif;
}

body.dark-theme {
  --main-bg: #111827;
  --main-color: #0b7cb8;
  --secondary-color: #1d4ed8;
  --light-color: #fff;
  --dark-color: #000;
  --text-color: #222;
  --boxes-colors: #1f2937;
}

/* Theme Toggle Button */
.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
  color: inherit;
}

/* Optional: Customize Menu Button and Close Button */
.menu-toggle,
.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.container {
  width: 95dvw;
  max-width: 1140px;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  background: var(--boxes-colors);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
}

.menu-toggle {
  background: none;
  color: var(--light-color);
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

/* Nav Links */
.main-nav,
.nav-buttons {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav-buttons {
  gap: 2rem;
}

.nav-links {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100%;
  background: var(--main-bg);
  color: var(--light-color);
  padding: 5rem 2rem;
  transition: right 0.3s ease;
  z-index: 999;
}

.nav-links.open {
  right: 0;
}

.nav-links ul {
  list-style: none;
}

.nav-links li {
  margin-bottom: 2rem;
}

.nav-links a {
  color: var(--light-color);
  font-size: 2rem;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a:focus {
  color: var(--hover-color);
}

.nav-link.active {
  color: var(--main-color);
}

/* Desktop view */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .nav-links {
    position: static;
    width: auto;
    height: auto;
    background: none;
    padding: 0;
    display: block;
    color: var(--black-color);
  }

  .nav-links ul {
    display: flex;
    gap: 2rem;
  }

  .nav-links li {
    margin: 0;
  }

  .nav-links a {
    font-size: 1.7rem;
    font-weight: 500;
  }
}

.close-btn {
  background: none;
  border: none;
  font-size: 2.5rem;
  color: var(--white-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* Hide the close button on big screens */
@media (min-width: 768px) {
  .close-btn {
    display: none;
  }
}

.theme-toggle svg {
  width: 30px;
  height: 30px;
}

/* Hero Section */
.hero {
  height: 90dvh;
  padding: var(--section-padding) 0;
}

.hero .container,
.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.hero-content h2 {
  font-size: 2rem;
  line-height: 1.2;
  color: var(--light-color);
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-align: start;
}

.hero-content p {
  font-size: 1.4rem;
  color: var(--light-color);
  margin-bottom: 2rem;
}

.hero-btn {
  background-color: var(--main-color);
  color: #fff;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero-btn:hover {
  background-color: var(--hover-color);
}

.hero-image img,
.about-image img {
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  object-fit: cover;
}

.about {
  padding-bottom: var(--section-padding);
}

/* Responsive */
@media (min-width: 768px) {
  .hero {
    padding: 17rem 0;
  }

  .hero .container,
  .about .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hero-content h2 {
    font-size: 6rem;
  }

  .hero-image {
    height: 400px;
  }

  .hero-image img {
    height: 100%;
    width: auto;
  }
}

.values {
  padding: 10rem 0;
}

.values .container {
  display: flex;
  flex-direction: column;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.logos img {
  width: 700px;
  max-width: 90%;
}

.values-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.value-box {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--main-color);
  transition: all 0.3s ease;
}

.value-box:hover {
  transform: scale(1.05);
}

.value-box h2 {
  margin-top: 0;
  font-size: 24px;
  color: #fff;
}

.value-box p {
  margin: 10px 0 0;
  font-size: 16px;
  color: #fff;
}

.value-box.respect {
  background-color: var(--light-color);
  color: var(--main-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.value-box.respect h2,
.value-box.respect p {
  color: var(--main-color);
}

.continuous {
  background-color: #0056d2;
}

.authenticity {
  background-color: #d4a017;
}

.optimism {
  background-color: #b19cd9;
}

@media (min-width: 768px) {
  .values-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}

/* Mobile First - Basic Style */
.services {
  background-image: url(./images/services.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Ensures the image covers the entire section */
  padding: var(--section-padding) 0; /* Maintain your padding */
  min-height: 50vh; /* Ensure the section fills the viewport height (adjust as needed) */
  overflow: hidden; /* Prevent overflow outside the section */
}

.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(17, 24, 39, 0.9);
  z-index: 0;
}

.services h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 1; /* make sure it's above the pseudo-element */
  color: #fff;
}

/* Services grid (Mobile Layout) */
.services-grid {
  display: grid;
  grid-template-columns: 1fr; /* Single column on mobile */
  gap: 20px;
  position: relative;
  z-index: 1; /* make sure it's above the pseudo-element */
}

.service-item {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: var(--boxes-colors);
  transition: all 0.3s ease;
}

.service-item:hover {
  transform: scale(1.05); /* Slightly bigger */
}

.service-item .icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.service-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 16px;
  color: var(--light-color);
}

/* testimonials.css */
.testimonials {
  text-align: center;
  padding: var(--section-padding) 0;
}

.testimonials h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.testimonials .subtitle {
  font-weight: 600;
  font-size: 1.2rem;
}

.testimonials .description {
  font-size: 1rem;
  color: var(--light-color);
  margin-bottom: 2rem;
}

.testimonial-list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.testimonial {
  max-width: 300px;
  width: 100%;
  height: 300px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.testimonial video {
  width: 100%;
  height: 70%;
  display: block;
}

.testimonial figcaption {
  padding: 1rem;
  text-align: center;
}

.testimonial figcaption strong {
  display: block;
  font-size: 1.5rem;
  color: #0b7cb8;
}

.testimonial figcaption span {
  color: var(--light-color);
  font-size: 1rem;
}

/* Responsive: 768px and above */
@media (min-width: 768px) {
  .testimonial-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* Larger screens: Tablet (768px) */
@media (min-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Larger screens: Desktop (1024px) */
@media (min-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.contact {
  padding: 0 0 var(--section-padding);
}

.contact-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}

/* Contact Form */
.contact-form,
.contact-info {
  background-color: var(--boxes-colors);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
  border-radius: 10px;
}

.contact-form h2,
.contact-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contact-form .sub-title,
.contact-info .sub-title {
  margin-bottom: 2rem;
}

.contact-form p,
.contact-info p {
  font-size: 1.5rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  background-color: var(--main-bg);
  border: 1px solid #30363d;
  padding: 1.1rem;
  border-radius: 5px;
  color: var(--light-color);
}

.contact-form textarea {
  min-height: 120px;
  resize: vertical;
  resize: none;
}

.contact-form button {
  background-color: var(--main-color);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--hover-color);
}

.info-item {
  display: flex;
  align-items: center;
  background-color: var(--main-bg);
  border: 1px solid #30363d;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  gap: 1rem;
}

.info-item h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.info-text {
  color: var(--white-color);
}

/* Responsive Design for Larger Screens */
@media (min-width: 768px) {
  .contact-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.footer {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 0;
  background: var(--boxes-colors);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Top shadow */
}

.year {
  font-weight: normal;
}

.section {
  opacity: 0;
  transition: all 0.7s ease-out;
}

.from-top {
  transform: translateY(-50px);
}
.from-left {
  transform: translateX(-50px);
}
.from-right {
  transform: translateX(50px);
}
.from-bottom {
  transform: translateY(50px);
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* Loader overlay */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-bg);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

/* Spinner animation */
.logo-spinner {
  width: 100px;
  animation: floatUpDown 1.5s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Initially hide content */
#main-content {
  visibility: hidden;
}
